version: '3.8'

services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: stock_monitor_backend
    volumes:
      - ./backend/app:/app/app
      - ./backend/data:/app/data
      - ./backend/.env:/app/.env
    ports:
      - "8000:8000"
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload
    restart: always
